{% extends "public/layout.html" %}

{% block exhibit_body %}
<div id="img-container" class="no_thumbs">
  {%- if !content.is_empty() %}
  <div class="text">{{ content|safe }}</div>
  {%- endif %}
  {%- for m in media %}
  <div class="picture">
    {%- if m.is_video %}
    <video controls preload="metadata" src="{{ m.file_url }}"></video>
    {%- else if m.is_audio %}
    <audio controls preload="metadata" src="{{ m.file_url }}"></audio>
    {%- else %}
    <img src="{{ m.file_url }}" alt="{{ m.title }}" width="{{ m.width }}" height="{{ m.height }}">
    {%- endif %}
    {%- if !m.title.is_empty() || !m.caption.is_empty() %}
    <div class="captioning">
      {%- if !m.title.is_empty() %}<span class="title">{{ m.title }}</span>{% endif %}
      {%- if !m.caption.is_empty() %}<span class="caption">{{ m.caption|safe }}</span>{% endif %}
    </div>
    {%- endif %}
  </div>
  {%- endfor %}
</div>
{% endblock %}
