{% extends "public/layout.html" %}

{% block exhibit_body %}
<div id="img-container" class="random_image">
  {%- if !content.is_empty() %}
  <div class="text">{{ content|safe }}</div>
  {%- endif %}
  {%- if let Some(m) = chosen %}
  <div class="picture">
    {%- if m.is_video %}
    <video controls preload="metadata" src="{{ m.file_url }}"></video>
    {%- else if m.is_audio %}
    <audio controls preload="metadata" src="{{ m.file_url }}"></audio>
    {%- else %}
    <img src="{{ m.file_url }}" alt="{{ m.title }}" width="{{ m.width }}" height="{{ m.height }}">
    {%- endif %}
    {%- if !m.title.is_empty() %}
    <div class="captioning"><span class="title">{{ m.title }}</span></div>
    {%- endif %}
  </div>
  {%- endif %}
</div>
{% endblock %}
